@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*, html,body{
    scroll-behavior: smooth !important;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    /* background-color: rgba(13, 25, 64,0.1); */
}