.file-content--container{
    padding:  0 60px 40px 60px;
}

.file-heading{
    font-size: 2.5rem;
    color:  rgb(13, 25, 64);
    margin: 20px auto 10px auto;
    border: 2px solid transparent;
    width: 250px;
    text-align: center;
}

.file-content--para{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    /* color:red; */
    text-align: center;
    /* word-wrap: break-word; */
    width: 100%;
    border: 2px solid transparent;
    /* margin: 0 auto; */
    /* display: inline-block !important; */
}